@model JqueryFormvalidationsPractice.ViewModel.EmployeeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<h2>Index</h2>
<script src="~/lib/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("btnSave").click(function () {
            ValidationForm();
        });

    });
    function ValidationForm() {
        if (!$("#empForm").valid) {
            //alert("Employee name should not be empty");
            return false;
        }
    }
</script>
<form id="empForm">
    <div class="container">
        <div class="row">
            <div class="form-group">
                Name:
                @Html.TextBoxFor(expression: model => model.Name, htmlAttributes: new { @class = "text-danger" })
                @Html.LabelFor(expression: model => model.Name, htmlAttributes: new { @class = "text-danger" })

            </div>
        </div>

        <div class="row">
            <div class="form-group">
                Email:
                @Html.TextBoxFor(expression: model => model.Email, htmlAttributes: new { @class = "form-control" })
            @Html.LabelFor(expression: model=>model.Email , htmlAttributes:new { @class = "text-danger"} )
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                Salary:
                @Html.TextBoxFor(expression: model => model.Salary, htmlAttributes: new { @class = "form-control" })
                @Html.LabelFor(expression: model => model.Salary, htmlAttributes: new { @class = "text-danger" })

            </div>
        </div>

    </div>
    <input type="button" name="Save" value="Save" id="btnSave" />
</form>